.banner-image {
  width: 100%;
  top: 0;
  left: 0;
  margin: 0px;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}


.post{
	list-style-type: none;
	padding: 2em;
}

#post-container {
	-webkit-box-shadow: 11px 13px 21px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 13px 21px 0px rgba(0,0,0,0.75);
	box-shadow: 11px 13px 21px 0px rgba(0,0,0,0.75);

}

.post_buttons {
	text-align: center;

}


.pac-container {
	z-index: 1051;
}

.modal-pictures {
	float: center;
}


.post-img {
	margin-right: 1em;
    -webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
    margin-bottom:20px;
}
/*
.post-img { 
	transition: all .1s ease-in-out; 
}
.post-img:hover { 
	transform: scale(1.4); 
}
*/
body{

	background-color: rgba(0, 50, 132, .05);
}