.banner-image {
	width: 100%;
	max-height: 300px;
	top: 0;
	left: 0;
	margin: 0px;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
/*
.flex-row img {
	min-width: 0;
	width: 100%;
	max-height: 200px;
}
*/
.post-img {
	min-width: 0;
	width: 100%;
	max-height: 200px;
}

.page-header{
	padding-bottom: 0em;
	margin-bottom: 0em;

}

.sort-bar{
	padding: 0em 3em;
	border: none;
	border-bottom: .2rem solid rgba(0, 50, 132, .2);
	background-color: white;
}
.sort-bar a{
	color: rgba(0, 27, 80, .7);
}
.sort-bar a:hover{
	background-color: rgba(0, 50, 132, .05);
}

.sort-active {
	background-color: rgba(0, 50, 132, .05);
}



#post-tabs > a
{
	color: rgba(0, 27, 80, .7);
}



.card-title{
	font-weight: 300;
	font-size: 2rem;
	margin: .5em .5em 0em .75em;
	border-bottom: .2rem solid rgba(0, 50, 132, .2);

}

#read-more{
	text-decoration: none;
	float: right;
	transition: all .1s ease-in-out; 
	padding-right: .9em;
	color: rgba(0, 27, 80, .7);
	font-family: 'Proza Libre','Prociono', "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#read-more:hover{
	transform: scale(1.1); 
	color: rgba(0, 27, 120, 1);

}

.post{
	list-style-type: none;
	padding: .2em 1em;
}

#post-container {
	border: none;
	background-color: rgba(255, 249, 249 .1);
	margin-bottom: .1em;

}

#post-container:hover{
	-webkit-box-shadow: 4px 4px 26px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 26px -6px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 26px -6px rgba(0,0,0,0.75);
	background-color: rgba(232, 242, 255, .6);

}


.post_buttons {
	text-align: center;

}


.pac-container {
	z-index: 1051;
}

.modal-pictures {	

	margin-top: 1em;
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.map_canvas {
    width: 80%;
    height: 400px;
    margin: 10px 20px 10px 0;
    z-index: 1053;
}

body{
	background-color: rgba(255, 249, 249, .1);
}