.banner-image {
	width: 100%;
	max-height: 300px;
	top: 0;
	left: 0;
	margin: 0px;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
/*
.flex-row img {
	min-width: 0;
	width: 100%;
	max-height: 200px;
}
*/


.page-header{
	padding-bottom: 0em;
	margin-bottom: 0em;

}

.sort-bar{
	padding: 0em 3em;
	border: none;
	border-bottom: .2rem solid rgba(0, 50, 132, .2);
	background-color: white;
}
.sort-bar a{
	color: rgba(0, 27, 80, .7);
}
.sort-bar a:hover{
	background-color: rgba(0, 50, 132, .05);
}

.sort-active {
	background-color: rgba(0, 50, 132, .05);
}





.card-title{
	font-weight: 300;
	font-size: 1.5em;
	margin: .5em .5em 0em .2em;
	border-bottom: .2rem solid rgba(0, 50, 132, .2);
}
.post-title{
	font-weight: 300;
	margin: -.75em 0em 0em 0em;
	border-bottom: .2rem solid rgba(0, 50, 132, .2);
	background-color: white;
	border-radius: 12px 22px 0px 0px;
	-moz-border-radius: 12px 22px 0px 0px;
	-webkit-border-radius: 12px 22px 0px 0px;

}

#read-more{
	text-decoration: none;
	float: right;
	transition: all .1s ease-in-out; 
	padding-right: .9em;
	color: rgba(0, 27, 80, .7);
	font-family: 'Proza Libre','Prociono', "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#read-more:hover{
	transform: scale(1.1); 
	color: rgba(0, 27, 120, 1);

}

.post{
	list-style-type: none;
	padding: .2em 1em;
}

.post-show{
	margin: 0em 1em 1em 1em;

}

.like-button {
	position: absolute;
	top: 10px;
	right: 20px;
	opacity: 0.8;

}


#post-container {
	border: none;
	background-color: rgba(255, 249, 249 .1);
	margin-bottom: .1em;

}

#post-container:hover{
	-webkit-box-shadow: 4px 4px 26px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 26px -6px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 26px -6px rgba(0,0,0,0.75);
	background-color: rgba(232, 242, 255, .6);
}

#post-container .like-button {
    display: none;
}
#post-container:hover .like-button {
    display: inline;
}


.post_buttons {
	text-align: center;

}

#post-tabs > a
{
	color: rgba(0, 27, 80, .7);
}

.post-img {
	min-width: 0;
	width: 100%;
	max-height: 200px;
}

.post-button{
	white-space: normal;
}

.author-comment{
	
	font-size: 1rem;
	border-bottom: .1rem solid rgba(0, 50, 132, .2);

}

.no-style {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}
.no-style:hover {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.post-show-pictures {	

	margin-top: 1em;
	width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-icon{
	width: 7%;
	max-width: 24px;
	height: auto;
	opacity: 0.5;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    padding-left: .1em;


}

.map_canvas {
    width: 80%;
    height: 400px;
    margin: 10px 20px 10px 0;
    z-index: 1053;
}
